@model Landlord.Data.Tenant

@{
    ViewBag.Title = "Details";
}

<style>
    .text, .text:link, .text:visited, .text:active {
        color: white;
    }
</style>

<h2 class="text">Details</h2>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text">
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd class="text">
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt class="text">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd class="text">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="text">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd class="text">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="text">
            @Html.DisplayNameFor(model => model.DateMovedIn)
        </dt>

        <dd class="text">
            @Html.DisplayFor(model => model.DateMovedIn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
